# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Debug files
.DS_Store
.vscode/

# Production build files
/build
/dist

# Database files
*.sqlite3

# Git-related files
.git
